body {
  background-image: url('https://wallpapertag.com/wallpaper/full/4/2/9/125577-vertical-code-wallpaper-2560x1600-pc.jpg');
	background-size: 100%;
	font-family: Courier, serif;
	color: AliceBlue;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

table, th, td{
  font-family: Courier, serif;
  color: AliceBlue;  
}

table {
  margin-bottom: 30px;
  width: 100%;
}

th {
  height: 50px;
}

th, td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


  

