<!DOCTYPE html>
<head>
    <title>Contributors List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Data_Site_Style_Sheet.css') }}"/>
</head>
<body>
<div id="bannerimage">
    <h1>CBU's Project Euler</h1>
    <h2><a style="float: right; margin-left: 4pc" href="{{ url_for('main_page') }}">Home</a></h2>
    <h2><a style="float: left; margin-right: 4pc" href="{{ url_for('problems') }}">Problems</a></h2>
</div>
<h2>Contributors</h2>
<table>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Problems Solved</th>
    </tr>
    {% for contributor in contributors %}
    <tr>
        <th>{{ contributor[2]|e }}</th>
        <th>{{ contributor[1]|e }}</th>
        <th>{{ contributor[3]|e }}</th>
    </tr>
    {% endfor %}
</table>
</body>