<!DOCTYPE html>
  <html>
    <title>CBU Project Euler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Data_Site_Style_Sheet.css') }}"/>
    <body>
      <div id="bannerimage">
        <h1>CBU's Project Euler</h1>
        <h2><a style="float: left; margin-left: 4pc" href="{{ url_for('contributors', order='rank') }}">Contributors</a></h2>
        <h2><a style="float: right; margin-right: 4pc" href="{{ url_for('problems', order='problem_number') }}">Problems</a></h2>
      </div>
      <div>
        <h2>Current Stats</h2>
        <table>
          <tr>
            <th>Top Contributor</th>
            <th>Most Popular Problem</th>
            <th>Most Average User</th>
          </tr>
          <tr>
            <td>{{ stats[0] }}</td>
            <td>{{ stats[1] }}</td>
            <td>{{ stats[3] }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <th>Current Number of Solutions</th>
            <th>Current Number of Contributors</th>
            <th>Most Common Language</th>
          </tr>
          <tr>
            <td>{{ stats[2] }}</td>
            <td>{{ stats[4] }}</td>
            <td>{{ stats[5] }}</td>
          </tr>
        </table>
      </div>
      <div id="searchbars">
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <form action="{{ url_for('main_page') }}" method="post">
          <d1>
            <dt>Search for User by username:
            <dd><input type="text" name="username">
            <dd><input type=submit value=Search>
            <dt>Search for Problem by problem number:
            <dd><input type="text" name="problem">
            <dd><input type=submit value=Search>
          </d1>
        </form>
      </div>
    </body>
  </html>