<!DOCTYPE html>
<Head>
    <Title>Problems List</Title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Data_Site_Style_Sheet.css') }}"/>
</Head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('main_page') }}">Home</a>
        <a href="{{ url_for('contributors', order='rank') }}">Contributors</a>
        <a href="{{ url_for('problems', order='problem_number') }}">Problems</a>
    </div>
    <h1>CBU's Project Euler</h1>
    <div id="stats">
    <h2>Problems</h2>
        <table>
            <tr>
                <th><a href="{{ url_for('problems', order='problem_number') }}">Problem Number</a></th>
                <th><a href="{{ url_for('problems', order='popularity') }}">Problem Popularity</a></th>
                <th><a href="{{ url_for('problems', order='times_solved') }}">Times solved</a></th>
            </tr>
            {% for problem in problems %}
            <tr>
                <th><a href="{{ url_for('search_problem', problem=problem[1]) }}">Euler {{ problem[1]|e }}</a></th>
                <th>{{ problem[2]|e }}</th>
                <th>{{ problem[3]|e }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

