<!DOCTYPE html>
<title>CBU Project Euler</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Data_Site_Style_Sheet.css') }}"/>
<div id="bannerimage">
    <h1>CBU's Project Euler</h1>
    <h2><a style="float: left; margin-left: 4pc" href="{{ url_for('contributors') }}">Contributors</a></h2>
    <h2><a style="float: right; margin-right: 4pc" href="{{ url_for('problems') }}">Problems</a></h2>
</div>
<body>
    <table>
        <tr>
            <th>Problem Number</th>
            <th>Popularity</th>
            <th>Times solved</th>
            <th>Who Solved</th>
        </tr>
        <tr>
            <td>{{ problem[0] }}</td>
            <td>{{ problem[2] }}</td>
            <td>{{ problem[3] }}</td>
            <td>{{ problem[4]}}</td>
        </tr>
    </table>
</body>
