<!DOCTYPE html>
<title>CBU Project Euler</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Data_Site_Style_Sheet.css') }}"/>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('main_page') }}">Home</a>
        <a href="{{ url_for('contributors', order='rank') }}">Contributors</a>
        <a href="{{ url_for('problems', order='problem_number') }}">Problems</a>
    </div>
    <h1>CBU's Project Euler</h1>
    <div id="'stats">
        <table>
            <tr>
                <th>Problem Number</th>
                <th>Popularity</th>
                <th>Times solved</th>
                <th>Who Solved</th>
            </tr>
            <tr>
                <td>{{ problem[0] }}</td>
                <td>{{ problem[1] }}</td>
                <td>{{ problem[2] }}</td>
                <td>
                    <ul>
                        {% for username in who_solved %}
                        <li><a href="{{ url_for('search_username', username=username) }}">{{ username }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>
